@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default;
}

@theme {
  --font-sans: "Zen Kaku Gothic New", "Hiragino Kaku Gothic ProN", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.font-preview {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
}
